td,th, h2, h3 {
    text-transform: capitalize;
}

h2 {
    color: lightskyblue;
}
tr>td:first-of-type{   
    font-weight:bold;
}
td {
    padding: 0.5em;
}
table{
    max-width:40%;
    margin:auto;
}
th{
    text-align:center;
    font-size:1.5em;
    padding-bottom:1em;
}

.div-button {
   margin-top:2em;
   text-align:center;
}

.div-button a {
    margin: 2em;
    width: 17.5em;
}
